@model ProjectManagement.Models.AboutModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Message</h3>
<div style="color: orange">
    <h3>@Model.Author</h3>
</div>

<body>
    <table border="1">
        <tr>
            <td>
                M
            </td>
            <td>
                V
            </td>
            <td>
                C
            </td>
        </tr>
        <tr>
            <td>
                M
            </td>
            <td>
                V
            </td>
            <td>
                C
            </td>
        </tr>
        <tr>
            <td>
                M
            </td>
            <td>
                V
            </td>
            <td>
                C
            </td>
        </tr>
    </table>
    <p>

    </p>
    <div>
        <p align="justify">
            Model–view–controller (MVC) is a software design/architectural pattern
            mostly for implementing user interfaces (but not only for user interface).
             <br />
            This is MVC and this is my first app.
            <br />
            Exercise 8 course 5 Add a div after the table with a text minimun 3 rows (justify).
            <br />
            Final course 8!!!
        </p>
    </div>
</body>

<p>Use this area to provide additional information.</p>